[Desktop Entry]
Name=notwc
Comment=tiling wayland compositor based on wlroots
Exec=notwc
Type=Application
DesktopNames=notwc
Keywords=tiling;wayland;compositor;
